<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd    
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/tx    
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"> 
	<!-- 打开mvc注解驱动 -->
	<mvc:annotation-driven  />
	
	<!-- 自动扫描器:控制器所在的包，可以配置自动扫描器 -->
	<context:component-scan base-package="com.whzuche.crawler.web.controller" />
	
	<bean id="viewResolver"  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix"  value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 挡在web.xml中 ， DispatcherServlet使用 <url-pattern> /</url-pattern> 映射时，能映射静态资源  -->
	<mvc:default-servlet-handler/>
	
	<!-- 静态资源映射 -->
	
	<mvc:resources mapping="/static/**" location="/WEB-INF/static/" />
	
</beans>